<h1><em>Sorry, An Error Occurred During Log-In</h1>

<div class="picture">
  <p><h2>Please Try Again</h2></p>
  <br>
  <br>
  <p id="home"> <%= link_to("Return to Sign-In Page", new_path)%> </p>
  <br>
  <p id="home"> <%= link_to("Sign-Up as a New User", sign_up_path)%> </p>
</div>
