body {
  margin: 0;
  padding: 0;
  background-image: url("http://images7.alphacoders.com/422/422461.jpg");
}

@media (min-width: 200px) {
  .top {
    display: block;
    border: ridge;
    border-width: 5px;
    border-color: black;
    background-color: goldenrod;
    padding-bottom: 20px;
    position: relative;
    min-width: 364px;
  }
}

@media (min-width: 350px) {
  .top {
    font-size: 78%;
  }
}

@media (min-width: 575px) {
  .top {
    font-size: 100%;
    max-width: 80%;
    margin-left: 9%;
  }
}

.picture {
  text-align: center;
  position: relative;
  top: 18px;
  margin-bottom: 55px;
}

h1 {
  font-size: 300%;
  color: black;
  text-align: center;
}

img {
  position: relative; 
  top: 18px; 
}

#attributes {
  margin-bottom: 40px;
}

.enter {
  text-align: center;
  margin-top: 100px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  font-size: 15px;
}

.middle {
  font-family: monospace;
  text-align: center;
  position: relative;
  top: 85px;
  border: solid;
  border-width: 2px;
  border-color: black;
  background-color: goldenrod;
  margin-left: 10%;
  margin-right: 10%;
}

.middle li {
  font-size: 22px;
  margin: 25px;
  text-decoration: underline;
}

.middle li:hover {
  background: white;
}

.support {
  text-align: center;
  position: relative;
  top: 150px;
}

.field_with_errors input {
  background: red;
}

.field_with_errors textarea{
  background: red;
}

.field_with_errors select{
  background: red;
}

#center {
  text-align: center;
}

#submit input {
  background-color: black;
  color: white;
}

#size {
  font-size: 28px;
}

#home {
  line-height: 1.5;
  border: solid 1px;
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 25vw;
  margin-right: 25vw;
  background: goldenrod;
}

#home a:hover {
  background: palegoldenrod;
  display: block;
}

#edit {
  line-height: 1.5;
  border: solid 1px;
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 25vw;
  margin-right: 25vw;
  background: palegoldenrod;
}

#edit a:hover {
  background: darkgoldenrod;
  display: block; 
}

#delete {
  line-height: 1.5;
  border: solid 1px;
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 25vw;
  margin-right: 25vw;
  background: darkgoldenrod;
}

#delete a:hover {
  background: goldenrod;
  display: block;
}

#edit_delete {
  line-height: 1.5;
  border: solid 1px;
  background: palegoldenrod;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}

#edit_delete a{
  padding: 6px;
}

.beers {
  text-align: center;
  margin-top: 100px;
  font-size: 18px;
  font-family: monospace;
}

.beers p:hover {
  background: goldenrod;
}

h3 {
  text-decoration: underline;
}

.current_user {
  float: right;
  margin-right: 5px;
  font-size: 19px;
  margin-top: -1%;
}

.current_user a:hover{
  color: blue;
}

.digg_pagination {
  margin-top: 1%;
  background: palegoldenrod;
  display: inline-block;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 2px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 2px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 2px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: black;
    border: 2px solid goldenrod; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: white;
      border-color: #000033;
      background: darkgoldenrod; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
