#breweries {
  font-family: monospace;
  text-decoration: underline;
  position: relative;
  top: 25px;
  text-align: center;
  font-size: 25px;
}

#breweries:hover {
  background: goldenrod;
}

.notice {
  color: red;
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
